@import '../../styles/customMediaQueries.css';

/* Can be given to Topbar when a modal is opened
 * so that the Topbar is not rendered on top of it.*/
.topbarBehindModal {
  z-index: initial;
}

.topbar {
  width: 100%;

  /* Top Bar's drop shadow should always be visible */
  z-index: var(--zIndexTopbar);
  position: sticky;
  top: 0px;
  left: 0;
  z-index: 9999;
}

.container {
  /* Layout */
  width: 100%;
  flex-grow: 1;
  display: flex;
}

/* Container for side and content */
.layoutWrapperContainer {
  composes: container;
  /* parent aka root is flexbox, this container takes all available space */
  flex-shrink: 0;

  /* This container uses flexbox layout */
  display: flex;
  flex-direction: column;
  width: 100%;

  /* When side nav is shown as a column, Topbar's box-shadow should be visible */
  z-index: calc(var(--zIndexTopbar) - 1);
}

.layoutWrapperFilterColumn {
  display: none;
}

.filterColumnContent {
  width: 210px;
  padding: 0px 24px 0 0;

  @media (--viewportMedium) {
    padding: 0px 24px 24px 0;
  }

  @media (--viewportLarge) {
    width: 240px;
    padding: 0px 24px 24px 0;
  }

  @media (min-width: 1440px) {
    padding: 0px 24px 24px 0;
  }
}

.filter:first-child {
  padding-top: 0;
}

.resetAllButton {
  composes: h5 from global;
  font-weight: var(--fontWeightMedium);
  color: var(--colorGrey300);

  /* Layout */
  display: inline;
  margin: 17px 0 0 0;
  padding: 0;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    color: var(--colorGrey700);
  }

  @media (--viewportMedium) {
    margin: 24px 0 0 0;
    padding: 3px 0 5px 0;
  }
}

.layoutWrapperMain {
  /* Expand to the full remaining width of the viewport */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0px !important;
}

.searchResultContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  flex-basis: 100%;
}

.error {
  color: var(--colorFail);
}

.searchString {
  /* Search string should not break on white spaces - i.e. line-break should happen before. */
  white-space: nowrap;
}

.mainPanel {
  display: none !important;
}
.filter {
  width: 100%;
}
.mainPanelMapVariant {
  composes: mainPanel;

  @media (--viewportMedium) {
    padding: 18px 24px 0 24px;
    margin-bottom: 21px;
  }

  @media (--viewportLarge) {
    padding: 23px 36px 0 36px;
  }
}

.searchFiltersMobileMap {
  padding: 16px 24px;
  display: block;
}

.searchFiltersMobileList {
  display: block !important;
  width: 100%;

  .overlay {
    pointer-events: none;
  }
}

.searchFiltersPanel {
  flex-grow: 1;
  display: flex;
  padding: 0 24px 24px 24px;

  @media (--viewportLarge) {
    padding: 0 36px 36px 36px;
  }
}

.listings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.listingsForGridVariant {
  composes: listings;
  padding: 16px;
  
  @media (--viewportMedium) {
    padding: 24px;
  }
  
  @media (--viewportLarge) {
    padding: 32px;
  }
}

.listingsForMapVariant {
  composes: listings;
  padding: 0 24px;

  @media (--viewportLarge) {
    padding: 0 36px;
  }
}

.newSearchInProgress {
  opacity: 0.1;
}

.searchListingsPanel {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -8px; /* Negative margin to counteract the padding on cards */
}

.mapPanel {
  @media (--viewportMedium) {
    /**
     * .container is using flexbox,
     * This specifies that mapPanel is taking 34% from the viewport width
     */
    flex-basis: 50%;

    /* Own layout settings */
    display: flex;
    height: 100%;
  }

  @media (--viewportLarge) {
    flex-basis: 37.5%;
  }
}

.mapWrapper {
  width: 100%;
  height: 100%;
}

.map {
  width: 100vw;
  height: 100vh;

  @media (--viewportMedium) {
    /* Map is fixed so that it doesn't scroll along search results */
    position: fixed;
    top: var(--topbarHeightDesktop);
    right: 0;

    /* Fixed content needs width relative to viewport */
    width: 50vw;
    height: calc(100vh - var(--topbarHeightDesktop));
  }

  @media (--viewportLarge) {
    width: 37.5vw;
  }
}

.mobileSec {
  position: sticky;
  top: 0;
  z-index: var(--zIndexTopbar);
  background-color: var(--colorGrey50);
  width: 100%;
  display: block !important;
  
  & .topbar {
    position: relative;
    z-index: 0;
    & > div {
      background: none;
      padding-bottom: 5px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12); /* Soft shadow for depth */
      transition: all 0.2s ease-in-out;

      /* Ensures it stays clean visually */
      backdrop-filter: blur(5px); /* Adds slight transparency */
    }
  }
  
  & .searchFiltersMobileList {
    width: 100%;
    display: block !important;
  }
}

