@import '../../../styles/customMediaQueries.css';

.fieldRoot {
}

.mobileMargins {
  width: calc(100vw - 48px);
  margin: 0 24px;

  @media (--viewportMedium) {
    width: 100%;
    margin: 0;
  }
}

/* Additional styles for date appearance */
:global(.filterPlainSelectedDate) {
  font-weight: bold !important;
  color: var(--black) !important;
}

:global(.filterPlainPlaceholderDate) {
  font-weight: normal !important;
  color: var(--colorGrey500) !important;
}
