@import '../../../styles/customMediaQueries.css';

.root {
  position: relative;
  display: inline-block;
}

.fieldGroup {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldGroupPlain {
  margin: 0;
  padding: 8px;
  border: none;
  width: 100%;

  @media (--viewportMedium) {
    padding: 12px;
  }
}

.list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0;
  list-style: none;
}

.item {
  flex: 0 0 calc(33% - 4px);
  padding: 0;
  margin: 0;

  /* Fix broken multi-column layout in Chrome */
  page-break-inside: avoid;

  @media (--viewportMedium) {
    flex: 0 0 calc(25% - 6px);
  }
}

.popupSize {
  min-width: 300px;
  padding: 16px;
}
