@import '../../../../styles/customMediaQueries.css';

/* Desktop */
.root {
  /* Size */
  width: 100%;
  height: var(--topbarHeightDesktop);

  /* Layout for child components */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 12px 0 0;

  /* fill */
  background-color: var(--colorWhite);

  /* shadows */
  box-shadow: var(--boxShadowLight);
  
  /* Only display at large desktop sizes */
  @media (max-width: 1099px) {
    display: none !important;
  }

  @media (--viewportLarge) {
    padding: 0 24px 0 0;
  }
}

/* logo */
.logoLink {
  border-bottom: 0px solid;
  transition: var(--transitionStyleButton);
  /* Fix logo dimensions as it can be overriden */
  padding: 13px 24px 13px 24px;
  height: 100%;
  display: flex;
  align-items: center;

  &:hover {
    transition: var(--transitionStyleButton);
    border-bottom: 0px solid;
    text-decoration: none;
  }
}

.navigation {
  display: flex;
  flex: 1;
  padding: 0 24px 0 24px;
}

.home,
.profile,
.inbox,
.listings,
.createListing {
  flex-shrink: 0;
  margin-right: 24px;
}

.home {
  display: none;

  @media (--viewportLarge) {
    display: block;
  }
}

.createListingLink,
.homeLink {
  margin-right: 0;
  align-self: center;

  @media (--viewportLarge) {
    margin-right: 0px;
  }
}

/* left animated "border" like hover element */
.createListing:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: var(--transitionStyleButton);
}

.createListing:hover:after {
  width: 6px;
  transition: var(--transitionStyleButton);
}

/* Text links */
.createListingLink,
.homeLink,
.inboxLink,
.loginLink,
.profileLink,
.signupLink,
.listingsLink {
  height: var(--topbarHeightDesktop);

  /* Text links should be centered vertically */
  /* But padding isn't the best way for that */
  /* Line-height + padding makes it better. */
  line-height: 25px;
  padding: 20px 0 20px 0;
  border-bottom: 0px;
  color: var(--colorGrey700);
  text-decoration: none;

  &:hover {
    color: var(--marketplaceColor);
    border-bottom: 0px;
  }
}

.inboxContainer,
.currentPage {
  position: relative;
  color: var(--marketplaceColor);
  transition: var(--transitionStyleButton);

  &:after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--matterColorAnti); /* grey (240, 240, 240) */
    transform: translateY(1px);
    transition: var(--transitionStyleButton);

    @media (--viewportLarge) {
      background-color: var(--marketplaceColor);
    }
  }

  &:hover:after {
    transform: translateY(0);
  }
}

.currentPage {
  &:after {
    background-color: var(--marketplaceColor);
    transform: translateY(0);
  }
}

.notificationDot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  right: -9px;
  background-color: var(--colorFail);
  animation-name: notificationPop;
  animation-duration: 0.1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: scale(0);

  @media (--viewportLarge) {
    top: 19px;
  }
}

@keyframes notificationPop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.search {
  /* Layout */
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;

  /* Search should be placed on the right edge of content on desktop */
  /* But it's still inside a flexbox, and gets different width based on window width */
  flex-grow: 1;
  height: 100%;

  @media (--viewportMedium) {
    flex-grow: 0;
    margin: 8px 0 0;
    width: 40%;
  }

  @media (--viewportLarge) {
    margin: 0;
    width: 250px;
  }
}

.avatar {
  position: relative;
  margin: 16px 0 21px 0;
  display: flex;

  @media (--viewportMedium) {
    margin: 21px 0 21px 24px;
  }
}

.avatarOverley {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu,
.searchMenu {
  display: none;
}

.topbarDesktop {
  display: none;

  @media (--viewportMedium) {
    /* Size, flex-item */
    padding: 0 12px 0 0;
    height: var(--topbarHeightDesktop);
    width: 100%;
    flex-shrink: 0;

    /* Layout for child components */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    /* fill */
    background-color: var(--colorWhite);

    /* shadows */
    box-shadow: var(--boxShadowLight);
  }
}

@media (min-width: 1100px) {
  .topbarDesktop {
    display: flex !important;
  }
}