@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalBottomWrapperText from global;
  padding-bottom: 6px;

  @media (--viewportMedium) {
    padding-bottom: 8px;
  }
}

.finePrint {
  composes: marketplaceModalHelperLink from global;
  padding: 0px 0 15px 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.privacyLink,
.termsLink {
  composes: marketplaceModalHelperLink from global;
  color: var(--marketplaceColor);

  &:hover {
    color: var(--marketplaceColorDark);
    text-decoration: underline;
    cursor: pointer;
  }
}

.customCheckbox {
  min-width: 20px;
  height: 20px;
  border-radius: 50%; /* Makes it circular */
  border: 1px solid var(--colorGrey300);
  margin-right: 10px;
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

/* Styling for the checked state */
.checked {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: var(--marketplaceColor);
  background-color: var(--marketplaceColor);
}

/* Inner dot for the checked state */
.checked::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.termsText {
  display: inline-block;
  line-height: 1.5;
  margin-top: 0;
}
